<div fxLayoutAlign="center center" class="body" ngClass.lt-lg="padding:10px">
  <div fxLayout="row" fxLayout.lt-md="column" class="parent">
    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center start" ngStyle.lt-md="padding: 3% 7% 0 15%;"
      ngStyle.lt-sm="padding: 3% 10% 0 10%;" ngStyle.gt-xs="padding-left:20px" ngStyle.gt-md="padding: 3% 10% 0 10%;"
      ngStyle.lt-lg="padding:3% 10% 0 10%">
      <p class="text">Have an account? <a class="sign" href="#">Sign In</a>
      <p>
      <h1 class="welcome"> Welcome to AOT</h1>
      <div>
        <p class="text text1">Blandit libero volutpat sed oranare arcu dui </p>
        <p class="text text2">Accumsan in nisi nisi scelerisque eu.</p>
      </div>
      <form class="example-form">
        <div class="form text">
          <mat-form-field class="example-full-width" floatLabel="always" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="example@gmail.com">
            <span matSuffix class="icon1">@</span>
          </mat-form-field>
          <mat-form-field class="example-full-width input2" appearance="outline" floatLabel="always">
            <mat-label>Password</mat-label>
            <input matInput placeholder=" 6+ strong character">
            <span class="icon" matSuffix><mat-icon aria-hidden="false" aria-label="Example home icon"
                fontIcon="lock"></mat-icon>
            </span>
          </mat-form-field>
        </div>
        <button mat-raised-button class="btn">Create an Account</button>
      </form>
      <div class="divider" fxLayout="row" fxLayoutAlign="space-between center">
        <div id="line"></div>
        <div class="text">Or sign up with</div>
        <div id="line"></div>
      </div>
      <div class="logo_parent" fxLayout="row" fxLayoutAlign="space-between">
        <div class="logo" fxLayoutAlign="center center"><img src="../../assets/google.png" width="20" height="20"alt="google signin"></div>
        <div class="logo" fxLayoutAlign="center center"><img src="../../assets/facebook.png" width="20" height="20" alt="google signin"></div>
        <div class="logo" fxLayoutAlign="center center"><img src="../../assets/apple.png" width="20" height="20" alt="google signin"></div>
      </div>
    </div>
    <!-- rightside -->
    <div fxFlex="50%" fxLayoutAlign="center" fxLayout="column" class="right"
      ngStyle.lt-lg="border-radius:0 15px 15px 0; " ngStyle.lt-md="border-radius:0 0 15px 15px;">
      <div class="right-cont" ngStyle.lt-sm="margin-left:10" ngStyle.lt-lg="margin-bottom:50px; margin-left:25% "
        ngStyle.lt-md=" padding-left:30px; padding-top:100px; margin-bottom:200px" ngStyle.lt-sm="margin-bottom:50px">
        <div style="margin-top: 60px; " ngStyle.lt-sm="margin-left:0">
          <p fxLayoutAlign="center center" id="quotes"><i class="fa-solid fa-quote-left"></i></p>
        </div>
        <div class="right-Text" fxLayoutAlign="start start" fxLayout="column">
          <p>Make a</p>
          <p>Dream.</p>
        </div>
        <div class="loer" ngStyle.lt-lg="margin-left: 0; width:200px "
          ngStyle.lt-md="margin-left: 40; width:200px ; margin-top:40px">
          <div class="text" ngStyle.lt-sm="margin-left:0">
            <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum officiis nostrum ea facilis dolorem
              quo cumque atque velit."</p>
          </div>
          <div fxLayout="row" class="card">
            <div><img class="card_img" src="/assets/man.jpg" alt="person"></div>
            <div class="card_div">
              <p class="card_text1">waleed Lozano</p>
              <p class="card_text2">Product Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>