.custom_directive_body {
  height: 100vh;
  padding: 100px;
}

.cus_dir {
  background-image: url(/assets/images/bg-direect.jpg);
  background-size: cover;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.fx_align {
  margin-right: 30px;
}

.box {
  height: 30px;
  width: 30px;
  background-image: url(/assets/images/sunshine-clipart-orange-5.png);
  background-size: cover;
}