.body{
  background: url("https://th.bing.com/th/id/R.b242af2aabe06a46e60ecb33c39899ae?rik=kKRKnfzI0ydIoQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fEx9MlTC.jpg&ehk=m%2b7xUj5pnN6Wi9ULevKYhn%2bBbo%2bq8UhdTNNoWvnHGks%3d&risl=&pid=ImgRaw&r=0");
  background-size:cover;
  height: 100vh; 
  overflow: hidden;
}
.task h1{
  font-size: 40px;
  font-weight: 600;
  padding: 5px;
}
.task a{
  font-size: 25px;
  font-weight: 500;
  color: beige;
}
.container{
  padding: 3%;
  color: white;
}
.btn:hover {
  background-color: rgba(17, 5, 5, 0.668);
  color: white;
}
